.title{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 59px;
  margin-bottom: 34px;
  color: #0e0f0d;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}
.subtitle{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 300;
  font-style:  italic;
  text-align: center;
}